.cards-wrapper {
    display: flex;
    justify-content: center;
    --container-width: 1650px;
    --box-width: 400px;
    --box-height:500px;
    --cols:4;
}

.cards {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    row-gap: 15px;
    column-gap: 15px;
    justify-items: center;
    width: var(--container-width);
}

.cards > div {
    width: var(--box-width);
    height: var(--box-height);
    background-color: #292b2c;
    box-shadow:10px 10px 20px rgb(104, 104, 104);
}

@media (max-width:1700px) {
    .cards-wrapper {
        --container-width:950px;
        --box-width:300px;
        --cols:3;
    }
}

@media (max-width:900px) {
    .cards-wrapper {
        --cols:1;
        --box-width:300px;
        /* --container-width:1200px */
    }
}

.search-img {
    width: 2rem;
    height: 2rem;
}
.search-img:hover {
    opacity: 0.5;
}

.coin-name {
    display: block;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.key-info {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
    text-align: left;
    line-height: 1;
    margin-top: 1rem;
}

canvas {
    margin-top: 1rem;
}

img {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
}